extends layouts/main-layout.pug

block title 
    title Login

block content
    //- Content-Type: x-www-form-urlencoded
    div(class="container-fluid d-flex justify-content-center bg-dark")
        div(class="col-12 col-md-9 col-lg-6 p-3")
            form(action="/login", method="post" class="d-flex flex-column gap-4")
                input(class="p-1 border rounded" type="email", name="email", value=user ? user.email : null placeholder="Correo")
                input(class="p-1 border rounded" type="password", name="password", value=user ? user.password : null placeholder="Contraseña")
                button(class="btn btn-primary ") Iniciar sesión

                if error
                    p(class="bg-danger text-white p-3") #{error}